flows (1).json
[{"id":"fa7ec4cb.ee4338","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"fa7ec4cb.ee4338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":100,"wires":[]},{"id":"30b48a44.0807b6","type":"ui_form","z":"fa7ec4cb.ee4338","name":"","label":"","group":"c8c57d62.c6dab","order":0,"width":"6","height":"6","options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":360,"wires":[["c74f35b3.359468"]]},{"id":"c74f35b3.359468","type":"function","z":"fa7ec4cb.ee4338","name":"","func":"msg.payload =   msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["95eb3cdb.b8246","d0e9a30e.a7201"]]},{"id":"245a5441.9688cc","type":"function","z":"fa7ec4cb.ee4338","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;\n\n\n\n\n// msg.payload.text=\"\";\n// if(msg.payload.context.webhook_result_1){\n    \n//     msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[0].text;\n//     msg.payload=msg.payload.text;\n// }\n\n// else\n// msg.payload = msg.payload.output.text[0];\n// return msg;\n\n\n","outputs":1,"noerr":0,"x":580,"y":260,"wires":[["6440ccbe.b7cac4"]]},{"id":"95eb3cdb.b8246","type":"watson-conversation-v1","z":"fa7ec4cb.ee4338","name":"","workspaceid":"bd7b6cad-cc41-4eec-87e0-7529a4148943","multiuser":false,"context":false,"empty-payload":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/deb5b32c-0147-4100-bc81-c4453eb57fb8","timeout":"","optout-learning":false,"x":420,"y":180,"wires":[["f2f2649a.0d0d98","245a5441.9688cc"]]},{"id":"6440ccbe.b7cac4","type":"ui_text","z":"fa7ec4cb.ee4338","group":"5e9bf438.4618ec","order":0,"width":"18","height":"6","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":650,"y":360,"wires":[]},{"id":"d0e9a30e.a7201","type":"ui_text","z":"fa7ec4cb.ee4338","group":"f56ca633.f95f78","order":1,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":400,"y":360,"wires":[]},{"id":"c8c57d62.c6dab","type":"ui_group","z":"","name":"Input","tab":"b99e7174.45895","order":1,"disp":true,"width":"6","collapse":false},{"id":"5e9bf438.4618ec","type":"ui_group","z":"","name":"Bot","tab":"b99e7174.45895","order":3,"disp":true,"width":"18","collapse":false},{"id":"f56ca633.f95f78","type":"ui_group","z":"","name":"You","tab":"b99e7174.45895","order":2,"disp":true,"width":"6","collapse":false},{"id":"b99e7174.45895","type":"ui_tab","z":"","name":"Customer-Care","icon":"dashboard","disabled":false,"hidden":false}]